{
  "ignore": [
    "./lib",
    "./dist"
  ],
  "env": {
    "development": {
      "presets": [
        "@babel/preset-env"
      ],
      "plugins": [
      ]
    },
    "es5": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
      ]
    }
  }
}
